
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 95vh;
    width: 95vw;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
header{
   
    background-color:black ;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    color: white; 
}
.img{
    
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-evenly;
    

}
.items{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 30px;
    list-style: none;
}
.img2 img{
    width: 100px;
    position: relative;
    top: 25px;
    display: flex;
}
nav{
    background-color:white;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    color: black;
    @media screen and (max-width: 320px){
        .items2{
            display: block;
            height: 500px;
        }
    }
}
.items2{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 30px;
    list-style: none;
    
}
.nav3{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 30px;
}
.search{
    border: 1px solid;
    display: flex;
    height: 33px;
    border-radius: 2rem;
    width: 200px;
}
.search i{
      margin-right: 20px;
      margin-top: 6px;
}
input{
    height: 30px;
    width: 200px;
    border-radius: 2rem;
    border: none;
}

button{
    width: 90px;
    height: 30px;
    background-color: rgb(73, 125, 223);
    color: white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}
.card1{
    height: 400px;
    width: 100%;
    background-color: rgb(166, 252, 252);
    display: flex;
    justify-content: space-evenly;
}

.card12{
    position: relative;
    top: 70px;
    left: 90px;
    background-color: rgb(166, 252, 252);
    height: 200px; 
    
} 
.A1{
   font-style: italic;
   font-weight: bold;
} 
.A2{
    font-style: inherit;
    font-weight: bold;
    font-size: xx-large;
 } 
.A3{
    font-style: inherit;
    font-weight: bold;
    font-size: xx-large;

 } 
.A4{
    font-style: inherit;
    font-weight: bold;
 } 
.girlimg{
    width: 200px;
    height: 200px;
} 
.card2{

    height: 150px;
    text-align: center;

}
.card2 h2{
    position: relative;
    top: 75px;
}

.card3{
    display: grid;
    grid-template-columns: 35% 35% 30%;

    height: 300px;
    
}
.box1{
display: grid;
grid-template-columns: 230px 20px;
}

.box2{
    display: grid;
    grid-template-columns: 280px 20px;
}
.box3{
    display: grid;
    grid-template-columns: 250px 20px;
}

.card41{
    position: relative;
    top: 120px;
    height: 100px;
    width: 150px;
}
.card41 button{
    width: 120px;
    font-size: small;
    background-color: rgb(246, 246, 60);
    color: black;
}
.b2{
    position: relative;
    bottom: 6px;
    font-style: italic ;
    font-size: small;
    font-weight: bold;
    color: blue;
}
.img12{
    display: grid;
    grid-template-columns:300px 100px ;
}
.card42{
    position: relative;
    top: 120px;
    right: 30px;
    height: 100px;
    width: 150px;
}
.c1{
    font-style: italic;
    font-weight: bold;
    color: blue;
}
.c2 .b1{
    font-size: medium;
    font-weight: bold;
}
.c3{
    font-size: small;

}
.img13{
    display: grid;
    grid-template-columns:300px 100px ;
}
.d2{
    font-style: italic ;
    font-size: small;
    font-weight: bold;
    color: blue;
}
.b1 .c2 .d1{
    font-style: inherit;
    font-weight: bold;
}
.card4{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}
ol{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;
    top: 100px;
    
    
}
h2{
    position: relative;
    top: 40px;
    
    padding-left: 120px;
}
.card5 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
    height: 300px;
    margin-left: 150px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.cost{
    
    display: grid;
    grid-template-columns: 30% 30% 30%;
    height: 150px;
    
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    
}
.laststar{
    position: relative;
    left: 50px;
}
.firststar{
    position: relative;

}
span{
    color: red;
    font-style: strikeout;
}
.card6{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
    height: 300px;
    margin-left: 150px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
}
.stars i{
    color: darkgoldenrod;
}
.card7{
    
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% 50% 10%;
    background-image: url(./Images/categori/card.png);
    background-repeat: no-repeat;
    background-size: 100% 600px
    
}
background-image{
    margin-top: 30px;
}

.manimg{
    margin-left: 150px;
}
.centertext{
    position: relative;
    top: 150px;
    left: 100px;
}
.bulkshirts{
    position: relative;
    top: 300px;
}
.centertext button{
    
    color: white;
    width: 100px;
}
.card8{
    margin-top: 100px;
    
    height: 800px;
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    padding-top: 60px;

}
.best{
    position: relative;
    top: 100px;
    left: 60px;
    font-size: 25px;
    font-weight: bold;
}
.design{
    position: relative;
    top: 200px;
    left: 60px;
}
.card81 button{
    position: relative;
    top: 250px;
    left: 60px;
    width: 100px;
}
.pantimg{
    position: relative;
    top: 400px;
    left: 60px;
}

.card82{
    position: relative;
    left: 120px;
    
}
.text83{
    height: 600px;
    display: block;
    gap: 50px;
    position: relative;
    top: 60px;
    left: 200px;
}
.text831{
    
    height: 200px;
    display: flex;
    position: relative;
    top: 20px;
}
.text832{
    
    height: 200px;
    position: relative;
    top: 30px;
    display: flex;
}
.text832 button{
    border-radius: 0px;
    width: 100px;
    height: 60px;
}
.text833{
    
    height: 200px;
    display: flex;
}
.card9{
    
    height: 250px;
    background-color: rgb(208, 243, 246);
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card91{

    position: relative;
    left: 200px;
}
.Get{
    font-weight: bold;
    font-size: 25px;
}
.news{
    position: relative;
    top: 10px;
}
.input button{
    
    position: relative;
    right: 30px;
}
.input placeholder{
    text-align: center;
}
::placeholder{
    position: relative;
    left: 20px;
    
}
.card10{
    
    height: 200px;
    display: flex;
    align-items: center;
    

    
}
.shipping{
    position: relative;
    left: 160px;
}

.free{
    position: relative;
    left: 115px;
    bottom: 10px;
    font-weight: bold;

}
.card11{
    
    height: 300px;
    width: 100%;
    margin-top: 50px;
    
    display: flex;
    justify-content: space-evenly;
    

}
 .lastcard{
    
    height: 250px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
} 
.last1{
    
    text-align: center;
    text-align: left;
    padding-top: 40px;
    
}
.last1 p{
padding-top: 10px;
color: rgb(156, 146, 146);
}
.h4{
    padding-top: 30px;
    font-weight: 20px;

}
.least i{
color: blue;


}
.last span{
    color: blue;
}
.leasts{
    display: grid;
    grid-template-columns: 50% 50%;
margin-left: 200px;
    
}
.lasticons{
display: flex;

margin-left: 500px;
gap: 10px;

}

